for item in object:
    statements to do stuff

In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [3]:
for i in l:
    print(i)

1
2
3
4
5

In [4]:
for num in l:
    print('Something!')

Something!
Something!
Something!
Something!
Something!

In [5]:
# modulo
10 % 3

1

In [6]:
18 % 7

4

In [7]:
4 % 2

0

In [10]:
for i in l:
    if i % 2 == 0:
        print(i)
    else:
        print('odd!')

odd!
2
odd!
4
odd!

In [11]:
l

[1, 2, 3, 4, 5]

In [14]:
listSum = 0

for i in l:
    listSum += i
    
print(listSum)

15

In [15]:
s = 'This is a string'

In [17]:
for letter in s:
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [19]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [20]:
l = [(2,4),(6,8),(10,12)]

In [25]:
l[2][0]

10

In [26]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [27]:
for(t1,t2) in l:
   print(t1)

2
6
10

In [28]:
for (t1,t2) in l:
    print(t2)

4
8
12

In [29]:
d = {'k1':1,'k2':2,'k3':3}

In [30]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [32]:
for item in d:
    print(item)

k1
k2
k3

In [33]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3